.heading-about {
  background-color: #002f6c;
  height: 7rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.little-intro,
.about-text {
  text-align: justify;
}
